* {
    margin: 0;
    padding: 0;
}

.body-box {
    display: flex;
    gap: 20px;
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 1500px;
    max-width: 100%;
}

.body-box  a{
    text-decoration: none;
    
}
#box1p {
    padding-top: 10px;
    padding-bottom: 33px;
}

.box-1 {
    text-align: center;
    border: 1px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    width: 300px;
    height: 350px;
    display: flex;
    border-color: #DDDDDD;
    justify-content: center;
}


.box-1  img {
    height: 30px;
    padding-top: 30px;
    
}
#box4 img {
    padding: 32px 0 ;
}
#box4img {
    margin: 43px 0 0 0;
}
#box4 h2 {
    color: #01903C;
    padding-top:2px;
    font-size: 25px;
    line-height: 1;
    
}
#box4 p {
    line-height: 20px;
    padding-bottom: 10px;
    color: #6d6969;
    font-size: 20px;
}
#box4p {
    padding-top: 20px;
}



#box1 h2 {
    color: #01903C;
    padding-top:20px;
    font-size: 25px;
    line-height: 0.8px;
    margin-top: 29px;
}

#box1 p {
    line-height: 0px;
    padding-top: 30px;
    color: #6d6969;
    font-size:18px;
    padding-bottom: 10px;
} 
#box5 h2 {
    color: #01903C;
    padding-top:25px;
    padding-bottom: 55px;
    font-size: 25px;
    line-height: 0.8px;
    margin-top: 29px;
}
#box5 p {
    padding-top: px;
    color: #6d6969;
    font-size:18px;
    padding-bottom: 10px;
}
#box5img {
    margin-top: 4px;
}

#box2 h2 {
    color: #01903C;
    padding: 40px 0;
    font-size: 25px;
}
#box2356 {
    padding: 45px 0 0 0;
}

#box2 p {
    line-height: 20px;
    padding-bottom: 10px;
    color: #6d6969;
    font-size: 18px;
}


#box3 h2 {
    color: #01903C;
    padding: px 0;
    font-size: 25px;
    line-height: 15px;
    padding-top: 10px;
}

#box3 img {
    padding-bottom: 30px;
}

#box3 p {
    line-height: 0px;
    padding-top: 30px;
    color: #6d6969;
    font-size: 18px;
    padding-bottom: ;
}
#box8 h2 {
    color: #01903C;
    font-size: 25px;
    line-height: 15px;
    padding-top: 20px;
}
#box8 p {
    line-height: 0px;
    padding-top: 30px;
    color: #6d6969;
    font-size: 18px;
    padding-bottom: ;
}
#box8img {
    margin-top: 29px;
}
#box8 img {
    padding-bottom: 26px;
}

.topic h1{
    margin: 30px 0 -0px 310px;
    padding-top: 30px;
    font-size: 40px;
}



@media screen and  (max-width: 1024px){
    .topic h1 {
        width: 100%;
        font-size: 30px;
        margin: 50px 0 0px 40px;
    }
    .body-box{
        justify-content: center;
        text-align: center;
    }
    .box-1 {
       max-width: 100%;
       width: 300px;
        margin: 0 auto;
    }

    }
    
    


